@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .px-safe {
    padding-right: max(env(safe-area-inset-right, 1rem), 1rem);
    padding-left: max(env(safe-area-inset-left, 1rem), 1rem);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
